repoServer:
  extraContainers:
  - name: my-plugin
    command:
    - "/var/run/argocd/argocd-cmp-server"
    image: afakharany/argocd-plugin:1.1
    securityContext:
      runAsNonRoot: true
      runAsUser: 999
    volumeMounts:
    - mountPath: /var/run/argocd
      name: var-files
    - mountPath: /home/argocd/cmp-server/plugins
      name: plugins
    # Starting with v2.4, do NOT mount the same tmp volume as the repo-server container. The filesystem separation helps
    # mitigate path traversal attacks.
    - mountPath: /tmp
      name: cmp-tmp
  volumes:
  - name: cmp-tmp
    emptyDir: {}
